---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Imports partials
@import "variables";
@import "typography";
@import "buttons";
@import "header";
@import "footer";
@import "rhode-island";

$te-p-stack-size: $te-space-m;
$te-row-gap-default: 64px;
$te-row-gap-l: 80px;

html, body{
  @include font-smoothing();
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  padding:0;
  margin:0;
  color:$gray1;
  overflow-x:hidden;
}

*{
  box-sizing:border-box;
}

main{
  max-width:1232px;
  padding:0 $te-space-l;
  margin:0 auto;
}

.hidden {
  position:absolute;
  top:0;
  left:-9999px;
}

h5 {
  margin-bottom: $te-space-s;

  p + &,
  ul + & {
    margin-top: $te-space-m;
  }
}

p.small{

  & + ul.small {
    margin-top: -($te-p-stack-size/2);
  }
}

.table {
  margin: 0 0 5em;
}

.te-container {
  max-width:800px;
}

#home{

  .hero{
    position:relative;
    padding:80px 0;

    @include for-tablet-landscape-up {
      padding:136px 0;
    }

    &:after {
      content:" ";
      top:0;
      left:50%;
      transform: translate(-50%, 0);
      z-index:-10;
      width:100vw;
      height:100%;
      position: absolute;
      background:url("../static/media/hero-bkg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .layout{
      display:grid;
      grid-row-gap: $te-row-gap-default;

      @include for-tablet-landscape-up {
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap:$te-space-l;
      }
    }

    .text{

      @include for-tablet-landscape-up {
        grid-column: 1 / 6;
      }
    }

    .image{
      position:relative;

      @include for-tablet-landscape-up {
        grid-column: 7 / 13;
      }

      img{
        width:100%;

        @include for-tablet-landscape-up {
          width:100%;
        }

        @include for-desktop-up {
          position:absolute;
          top:64px;
          left:0;
        }

      }

    }

    h1{
      color: $white;
      margin-bottom:$te-space-l;
    }
    
    p{
      color: $white;
      font-weight:600;
      font-size:22px;
    }

  }

  .equity-score{
    padding:80px 0;
    display:grid;
    grid-row-gap: $te-row-gap-default;

    @include for-tablet-landscape-up { 
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap:$te-space-l;
      align-items: center;
    }

    @include for-desktop-up { 
      padding:150px 0 80px 0;
    }

    .text{

      @include for-tablet-landscape-up { 
        grid-column: 1 / 7;
        margin-right:$te-space-xl;
      }
    }

    h2{
      margin-bottom: $te-space-l;
    }

    p{
      margin-bottom: $te-p-stack-size;

      &:last-child{
        margin-bottom:0;
      }
    }

    .items{
      padding: $te-space-xl;
      border-radius:8px;
      margin:56px 0;
      background:rgba($gray1, 0.03);
      max-width:800px;
    }

    .item{
      display:flex;
      margin-bottom:$te-space-l;

      &:last-child{
        margin-bottom:0;
      }

      img{
        margin-right:$te-space-xl;
      }

    }

    span{
      font-weight:600;
    }

    .image-wrapper{
      max-width:500px;
      margin:0 auto;

      @include for-tablet-landscape-up { 
        max-width:100%;
        grid-column: 7 / 13;
      }
    }

    img.main{
      width:100%;
    }

  }

  .how-it-works{
    padding:80px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after {
      content:" ";
      top:0;
      left:50%;
      transform: translate(-50%, 0);
      z-index:-1;
      width:100vw;
      height:100%;
      position: absolute;
      background:$gray2;
      opacity:.15;
    }

    h3{
      text-align: center;
      margin-bottom:16px;
    }

    .intro{
      margin-bottom:72px;
    }

    .layout{
      display:grid;
      width:100%;
      grid-template-columns: repeat(2, 1fr); 
      grid-row-gap: $te-row-gap-default;
      margin-bottom:72px;
      grid-column-gap:$te-space-l;

      @include for-tablet-portrait-up { 
        grid-template-columns: repeat(3, 1fr); 
      }

      @include for-tablet-landscape-up { 
        grid-template-columns: repeat(4, 1fr); 
      }

      @include for-desktop-up { 
        grid-template-columns: repeat(7, 1fr);
      }
    }

    .column{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align:center;
    }

    .description{
      margin-top:16px;
      font-weight:600;
    }

    p{
      text-align:center;
    }

  }

  .pilot-locations{
    padding:80px 0 72px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4{
      margin-bottom: $te-space-l;
    }

    .intro{
      text-align: center;
      margin-bottom: 80px;
    }

    .layout{
      display: grid;
      grid-row-gap: $te-row-gap-l;

      @include for-tablet-landscape-up {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: $te-space-l;
        width: 100%;
        justify-items: center;
      }
    }

    .column{
      display: flex;
      flex-direction: column;
      align-items: center;
    }  
      
    img{
      margin-bottom: $te-space-l;
    }

    .location{
      font-weight: 600;
      margin-bottom: $te-space-l;
      text-align: center;
    }
  }

  .analyzer{
    padding: 80px 0 72px 0;

    @include for-tablet-landscape-up {
      padding: 120px 0 72px 0;
    }

    .layout{

      @include for-tablet-landscape-up { 
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-column-gap: $te-space-l;
        position: relative;
      }

    }

    .text{

      @include for-tablet-landscape-up { 
        margin-top: 96px;
        grid-column: 1 / 5;
      }
    }

    h3{
      margin-bottom:$te-space-l;
    }

    p{
      margin-bottom: $te-p-stack-size;
    }

    .image{
      margin-top: 56px;

      img{
        width: 100%;
      }

      @include for-tablet-landscape-up { 
        margin-top: 0;
        grid-column: 5 / 13;
        height: 730px;
        width: 100%;
        position: relative;

        img{
          height: auto;
          width: 100%;
          max-width: 100%;
          position: absolute;
        }
      }
    
    }
  }

  .looking-ahead{
    padding:80px 0;

    @include for-tablet-portrait-up {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: $te-space-l;
      align-items: center;
    }

    .image-wrapper{
      grid-column: 1 / 7;
      margin-bottom: 48px;

      @include for-tablet-portrait-up {
        margin-bottom: 0;
      }
    }

    img{
      width: 100%;
    }

    .text{
      grid-column: 8 / 13;
    }

    h4{
      margin-bottom: $te-space-l;
    }
  }

  .join{
    padding: 80px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after {
      content:" ";
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: -1;
      width: 100vw;
      height: 100%;
      position: absolute;
      background: url("../static/media/cta-banner-bg.png");
    }

    .layout{
      display:grid;
      grid-row-gap: $te-row-gap-l;

      @include for-tablet-landscape-up {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: $te-row-gap-l;
      }
    }

    .layout__col {
      text-align: center;
    }

    h4{
      text-align: center;
      margin-bottom:$te-space-xl;
    }

    p{
      margin-bottom: $te-space-xl;
      text-align: center;
    }
  }

  .about{
    padding:80px 0;
    position:relative;
    display: flex;
    flex-direction: column;

    &:after {
      content:" ";
      top:0;
      left:50%;
      transform: translate(-50%, 0);
      z-index:-1;
      width:200vw;
      height:100%;
      position: absolute;
      background-color: $white;
      color: $black;
    }

    h2 {
      align-items: center;
      padding-bottom: 30px;
    }

    h4{
      text-align: left;
      margin-bottom: $te-space-xl;
      margin-top: $te-space-xl;
    }

    h6 {
      padding-bottom: 30px;
      text-align: left;
    };

    p{
      margin-bottom: $te-p-stack-size;
      text-align: left;
    }

    ul {
      text-align: left;
      float: left;
    }
    
    li {
      text-align: left;
    }

  }
}
.mx-auto {
  width: 80%;
}
.dropdown a {
  color: $black;
}

.te-text-color-brand {
  color: $green-59;
}

.partners{
  padding:80px 0 88px 0;
  border-bottom: 1px solid rgba($gray1,0.15);

  @include for-tablet-landscape-up {   
    padding:80px 0 120px 0;
  }

  h4{
    text-align: center;
    margin:0 auto;
    margin-bottom:24px;
  }

  p{
    text-align:center;
    margin:0 auto;
    margin-bottom:56px;

    @include for-tablet-landscape-up {   
      margin-bottom:88px;
    }
  }

  .layout{

    @include for-tablet-landscape-up {   
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-column-gap:24px;
    }
  }

  .column{
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom:88px;

    &:last-child{
      margin-bottom:0;
    }

    @include for-tablet-landscape-up {   
      margin-bottom:0;
    }

  }
}
