<footer> 
    <div class="logos-wrapper">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/static/media/tree-equity-score-logo.svg" height="80"></a>
        <div class="american-forests">
            <a href="https://www.americanforests.org/" target="_blank"><img src="{{site.baseurl}}/static/media/american-forests-logo-vertical.png" height="80"></a>
            <p class="">1220 L Street, NW, Suite 750
                <br>Washington, DC 20005
                <br>Phone: 202.737.1944
                <br>Fax: 202.737.2457
                <br><br><a class="green3" href="mailto:info@americanforests.org">Contact us</a></p>
        </div>
    </div>
    <p class="rights">© 2020 American Forests. <br>All Rights Reserved. <br><a href="#">Privacy Policy</a>.</p>
</footer>
