<header>
    <div class="banner">Powered by <span>American Forests</span></div>
    <div class="content-wrapper">
        <a href="{{site.baseurl}}/"><img class="logo" src="{{site.baseurl}}/static/media/logo.svg"></a>
        <ul class="nav justify-content-center align-middle">
                <!-- <a class="btn btn-outline-success" href="https://rhodeisland.treeequityscore.org">Launch App</a> -->
                <!-- <button class="btn btn-outline-success btn-sm" style="height:40%;" href="https://rhodeisland.treeequityscore.org">Launch App</button> -->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/about" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/">Home</a>
                    <a class="dropdown-item" href="/about">About</a>
                    <a class="dropdown-item" href="/methodology">Methodology</a>
                    <a class="dropdown-item" href="/dictionary">Data Dictionary</a>
                    <a class="dropdown-item" href="/datasources">Data Sources</a>
                    <a class="dropdown-item" href="/FAQ">FAQ</a>
                    <a class="dropdown-item" href="/privacy">Privacy</a>
                </div>
            </li>
            <a href="https://rhodeisland.treeequityscore.org/" target="_blank" class="btn btn-dark">Launch App</a>        
       </ul>
    </div>
    <div>
    </div>
</header>
