//Variables
$transition-time:.2s;
$black: #000000;
$gray1: #333333;
$gray2: #BDBDBD;
$gray3: #F2F2F2;
$white: #FFFFFF;
$green1:#6CC396;
$green2:#9CCB3D;
$green3:#5EB546;
$green-59: #6CC296;
$orange: #F99D3E;

// Mixins
@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}